venv/
__pycache__/
node_modules/
.env
serviceAccountKey.json
serviceAccountKey*.json
dist/
DAC_NationalDownloadableFile.csv
DOC_Data_Dictionary.pdf
Facility_Affiliation.csv
Utilization_3.csv
ec_public_reporting.csv
ec_score_file.csv
grp_public_reporting.csv
grp_public_reporting_cahps.csv
vg_public_reporting.csv
manifest.json